<%
# This is just the left side navigation bar, for the admin interface
-%>
<ul>
	<li><%= link_to 'Books', books_path %></li>
	<li><%= link_to 'Authors', authors_path %></li>
	<li><%= link_to 'Books (ext)', extended_books_path %></li>
</ul>
